[submodule "vendor/emacs-clang-complete-async"]
	path = vendor/emacs-clang-complete-async
	url = https://github.com/golevka/emacs-clang-complete-async
[submodule "vendor/evil-plugins"]
	path = vendor/evil-plugins
	url = https://github.com/tarao/evil-plugins.git
[submodule "vendor/e-sink"]
	path = vendor/e-sink
	url = https://github.com/lewang/e-sink.git
