[submodule "evil-args"]
	path = vendor/evil-args
	url = https://github.com/wcsmith/evil-args.git
[submodule "vendor/emacs-clang-complete-async"]
	path = vendor/emacs-clang-complete-async
	url = https://github.com/golevka/emacs-clang-complete-async.git
